# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build main Branch

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    branches: [ main ]
  schedule:
    - cron: "0 3 * * *"
jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
       matrix:
          java: [ 1.8, 11 ]
       fail-fast: false
    name: Java ${{ matrix.java }} sample
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v3.0.0
      with:
        java-version: ${{ matrix.java }}
    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ matrix.java }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ matrix.java }}-m2
    - name: Build Peass (Current dependent project version)
      run: |
         branch=main
         cd /home/runner/work/ && git clone -b $branch https://github.com/DaGeRe/peass.git && cd peass && echo "Branch: $branch" && git rev-parse HEAD && ./mvnw clean install -DskipTests
    - name: Build with Maven
      run: | 
         cd /home/runner/work/peass-ci-plugin/peass-ci-plugin/ && ./mvnw -B package --file pom.xml
    - name: Publish Test Report
      if: ${{ always() }}      
      uses: scacap/action-surefire-report@v1
      with:
         github_token: ${{ secrets.GITHUB_TOKEN }}
